.main-header {
    border-radius: 45px;
    
    background-color: #5970c1;
    background-image: linear-gradient(-86deg,#33be6d 0,#0c98b9 100%);

    font-family: sans-serif;
}

.main-header .main-nav {
    align-self: center;
}

.main-header .main-nav .nav-list > * {
    color: white;
    text-decoration: none;

    font-size: 1.3125em;
}

.main-header .main-nav .nav-list > *:hover {
    cursor: pointer;
}